.amber-token__header {
  display: flex;
  background: url('../../assets/svg/bckg2.svg') no-repeat;
  background-size: cover;
  justify-content: center;
}

.amber-token__header__left {
  color: $white;
  flex-basis: 40%;
  padding-left: 15px;
}

.amber-token__header__left__p {
  line-height: 30px;
  padding-top: 22px;
}

.amber-token__header__left__title {
  padding-top: 168px;
}

.amber-token__header__right__img {
  padding-top: 52px;
  padding-left: 150px;
}

.amber-token__main__cards {
  display: flex;
  justify-content: center;
}

.amber-token__main__h3 {
  font-size: 21px;
  line-height: 36px;
  color: $mainPurple;
  font-family: $main-font-family;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 62px;
  margin: 0 190px;
}

.amber-token__main__card {
  text-align: center;
  box-shadow: 0 4px 16px rgba(52, 28, 186, 0.15);
  padding: 0px 70px 36px 70px;
}

.amber-token__main__card:nth-child(2) {
  margin: 0 60px;
}

.amber-token__main__card__h4 {
  color: $mainPurple;
  font-size: 30px;
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 26px;
}

.amber-token__main__card__p {
  color: $mainPurple;
  line-height: 30px;
}

.amber-token__main__card__img {
  margin-top: -20px;
}

.amber-token__main__block {
  margin-top: 60px;
  text-align: center;
  border: 3px solid $mainPurple;
  border-radius: 8px;
}

.amber-token__main__block__text {
  padding: 40px 256px;
  color: $mainPurple;
  font-size: 30px;
  line-height: 30px;
}

@media (max-width: 1200px) {
  .amber-token__header__right__img > div > svg {
    max-width: 100%;
  }
  .amber-token__header__right__img {
    padding-left: 50px;
  }
}

@media (max-width: 992px) {
  .amber-token__main__block__text {
    padding: 40px 156px;
  }
  .amber-token__main__cards {
    flex-wrap: wrap;
  }
  .amber-token__main__h3 {
    margin: 0 90px;
  }
  .amber-token__main__card {
    margin: 40px 0;
  }
  .amber-token__header__left {
    flex-basis: 80%;
  }
  .amber-token__header {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .amber-token__main__h3 {
    margin: 0 10px;
  }
  .amber-token__header__left {
    flex-basis: 95%;
  }
  .amber-token__main__block__text {
    padding: 40px 5px;
  }
  .amber-token__main__card:nth-child(2) {
    margin: 0 0px;
  }
}
