.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 68vh;
  margin-top: 100px;
}

.not-found__title {
  color: $mainPurple;
}

.not-found__link {
  margin-top: 30px;
  font-size: 21px;
  text-decoration: underline !important;
}
