.main-page__selection {
  padding-top: 160px;
  display: flex;
  align-items: center;
  padding: 160px 160px 0 160px;
}

.padding-right {
  padding-right: 40px;
}

.padding-left {
  padding-left: 40px;
}

.main-page__selection__div__title {
  padding-bottom: 18px;
}

.main-page__selection__div__subtitle {
  line-height: 30px;
}

@media (max-width: 992px) {
  .main-page__selection {
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 0px 0 0px;
  }

  .main-page__selection:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .main-page__selection__img {
    padding-top: 30px;
  }
}
