.main-page__selection {
  padding-top: 160px;
  display: flex;
  align-items: center;
}

.padding-right {
  padding-right: 40px;
}

.padding-left {
  padding-left: 40px;
}

.main-page__selection__div__title {
  padding-bottom: 18px;
}

.main-page__selection__div__subtitle {
  line-height: 30px;
}
