.footer {
  margin: 60px 0px 0 0px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
  flex-direction: row;
}

.footer__icons {
  display: flex;
  align-items: center;
}

.footer__icons > a {
  margin: 0 8px;
}

.footer__copyright {
  font-size: 12px;
  line-height: 30px;
  color: $mainPurple;
}

@media (max-width: 992px) {
  .footer__item:nth-child(3) {
    order: 2;
  }
  .footer__item:nth-child(1) {
    order: 1;
  }
  .footer__item:nth-child(2) {
    order: 3;
    flex-basis: 100%;
    justify-content: center;
    padding-top: 25px;
  }
  .footer-wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .footer__icons {
    flex-wrap: wrap;
  }
}
